.Main
  %div.left-box
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last
    %lu.left-box__colors-fild
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box
      %li.color-box__last







  %div.right-box
    .right-box__disc
    .right-box__form-box
      .song_index
        - @songs.each do |song|
          %div
            = song.name
            = link_to '削除', song_path(song.id), method: :delete
            -# エラー時はlink_toをbutton_toにかえるのも良い
        -# %a.btn{:href => "/"} topへ戻る
        = link_to "新規投稿", new_song_path, method: :get, class:"back-btn"
