.header-other
  = render 'songcolors/header'
.SettingGroupForm
  %h1 CD編集
  = render partial: 'form', locals: { disc: @disc }
  .under-btn
    = link_to 'Delete', disc_path(@disc.id), method: :delete, class: "SettingGroupForm__button"