.DiscEditBace
  .DiscEditBace_box
    .DiscEdit
      .SettingDiscForm
        %h1.CDedit CD編集 
        = render partial: 'form', locals: { disc: @disc }
        .under-btn
          = link_to '削除', disc_path(@disc.id), method: :delete, class: "SettingDiscForm__button"
    .ShowBackBtn
      = link_to "戻る", disc_path

.header-other
  = render 'songcolors/header'