.Main {
  padding-top: 75px;
  height: 100%;
  margin: 0 auto;
  max-width: 935px;
  .left-box {
//    background-color: tan;
    float: left;
    margin-right: 28px;

    height: 100%;
    width: 614px;
    overflow: hidden;
    padding-top: 75px;
    &__colors-fild {
      // background-color: snow;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      width: 617px;
      .color-box {
        background-color: steelblue;
        height: 75px;
        width: 75px;
        margin-right: 2px;
        margin-bottom: 2px;
        border-radius: 10px;
        &__last {
          background-color: steelblue;
          height: 75px;
          width: 75px;
          border-radius: 10px;
        }
      }
    }
  }
  .right-box {
//    background-color: gold;
    float: right;
    height: 100vh;
    width: 293px;
    padding-top: 75px;
    &__disc {
      margin-bottom: 10px;
      margin-top: 0px;
      height: 80px;
      background-color: rgb(218, 218, 218);
      padding-top: 27px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 15px;
      text-align: center;
    }
    &__form-box {
      background-color: rgb(218, 218, 218);
      // height: calc(100% - 84px);
      // 曲が増えると背景が足りなくなる
      padding-top: 30px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 30px;
      .song_list {
        padding-left: 46px;
        font-size: 18px;
        margin-bottom: 10px;
      }
      .song_index {
        .lists {
          .Song-name {
            margin-bottom: 5px;
          }
        }
        form.button_to {
          display: contents;
        }
        .delete-btn {
          margin-left: 11px;
          font-size: 15px;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}

// リンク下線削除
a {
  text-decoration: none;
}

// リンク下線削除
.describe {
    font-size: 11px;
}

// カラー投稿ページの説明文
.howTo {
  font-size: 13px;
}

.Nav {
  .nav_box {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 75px;
    width: 100%;
    top: 0;
    &__logo-field {
      padding: 0 20px;
      height: 75px;
      max-width: 975px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__logo {
        width: 200px;
        font-weight: bold;
        font-size: 25px;
      }
      &__right {
        .menu-box {
          list-style: none;
          display: flex;
          &__search {
            position: relative;
            .song-name__input {
              font-size: 13px;
              padding-left: 15px;
              padding: 3px 10px 3px 26px;
            }
            .song-name__icon {
              position: absolute;
              left: 13px;
              top: 9px;
              font-size: 12px;
              color: gainsboro;
            }
          }
          &__disc {
            margin-left: 30px;
          }
          &__movie {
            margin-left: 30px;
          }
          &__login {
            margin-left: 30px;
            display: flex;
          }
        }
      }
    }
  }
}

.Color {
  position: relative;
  .colorbtn {
    position: absolute;
    background-color: #dadada;
    height: 56px;
    width: 614px;
    top: 47px;
    // left: -332px;
    left: -351px;
    padding-left: 25px;
    padding-right: 25px;
    .colorForm {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      &__contents {
        display: contents;
      }
      &__input#colorid {
        width: 75px;
      }
      .cForm {
        margin-top: 1px;
      }
      .songName {
        font-size: 20px;
      }
    }
  }
}

// リンク先の色指定↓
a {
  color: #244765;
  }
  