.Destroypage {
  &__formbox {
    width: 500px;
    height: 340px;
    background-color: #dadada;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    .dbase {
      padding-top: 142px;
    }
  }
}
