.Main
  %div.left-box
    = render "songcolors"
        
  %div.right-box
    .right-box__disc
      ：：songcolor image page：：
    .right-box__form-box
      %div
        　【How to choose a color】
      %div
        　
      %div.howTo
        ・曲を聴いてイメージした色を
      %div.howTo
        　カラーピッカーで選択し、
      %div.howTo
        　sendボタンをクリックして
      %div.howTo
        　投稿してください。
      %div.howTo
        　
      %div.howTo
        ・四角いカラーパネルが表示され
      %div.howTo
        　曲のイメージカラーをみんなで
      %div.howTo
        　共有することが出来ます。
      .song_index

-# トップと同じグレーのboxが表示される。↑
-# 挿入内容が決まれば再度表示