.SongCreate
  .SongCreate__form
    .cbase
      .cbtn
        %h3 イメージカラーの投稿が完了しました
        = link_to "一覧へもどる",  song_songcolors_path, method: :get, class:"back-btn"  

= render 'songcolors/header' 


-# songName投稿完了画面と同じクラス名にして、scssそのまま借りてきてる